{% extends 'base/master.html'%}
{% load staticfiles %}
{% block 'title'%}
DashBoard
{%endblock%}
{% block 'content'%}
<div class="row">
    <div class="col-md-4" align="center">
        <img src="{% static 'img/income.jpg'  %}" class="exp-img" >
        <a href="{% url 'income' %}" class="exp-text" ><h4>Income</h4>
        </a>
    </div>
    <div class="col-md-4" align="center" >
        <img src="{% static 'img/expenses.png'  %}" class="exp-img" >
        <a  href="{% url 'expense' %}"  class="exp-text"><h4>Expense</h4>
        </a>
    </div>
    <div class="col-md-4" align="center">
        <img src="{% static 'img/report.jpg'  %}" class="exp-img">
        <a  href="{% url 'category' %}" class="exp-text"><h4>Category</h4>
        </a>
    </div>
</div>
<hr>
<div class="Container" style="margin-top:10%";>
    <div class="col-md-6">
        <div id="piechart"></div>
    </div>
    <div class="col-md-6">
        <div id="piechartyearlyexpense"></div>
    </div>
    <div class="col-md-6">
        <div id="saving"></div>
    </div>




    </div>


{% endblock %}