{% extends 'base/master.html'%}
{% load staticfiles %}
{% block 'title'%}
Income
{%endblock%}
{% block 'content'%}

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Income
            </div>
            <div class="panel-body">
                <form method="post" action="#">
                {{form}}
                {% csrf_token %}<br/>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Current Month Income ,{{month}},{{year}}</div>
                <div class="panel-body">
                    <table class="table">

                        <th>Title</th>
                        <th>Rupes</th>
                        <th>Date</th>

                        <th>Action</th>

                     {% for i in income %}
                    <tr>
                        <td>{{i.title}}</td>
                        <td>{{i.rupes}}</td>
                        <td>{{i.date}}</td>


                        <td><a href="{% url 'income_edit' i.id %}">Edit</a> | <a  href="#" onclick="delete_('{% url 'income_delete' i.id %}')"> Delete</a></td>
                    </tr>
                    {% endfor %}
                        <tr >
                            <td>Total</td>
                            <td>{{total.rupes__sum}}</td>

                        </tr>
                    </table>

                 </div>
            </div>
        </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Previous Month Income {{month}},{{year}}</div>
                <div class="panel-body">
                    <table class="table">

                        <th>Title</th>
                        <th>Rupes</th>
                        <th>Date</th>

                        <th>Action</th>

                     {% for i in previncome %}
                    <tr>
                        <td>{{i.title}}</td>
                        <td>{{i.rupes}}</td>
                        <td>{{i.date}}</td>

                        <td><a href="{% url 'income_edit' i.id %}">Edit</a> | <a  href="#" onclick="delete_('{% url 'income_delete' i.id %}')"> Delete</a></td>
                    </tr>
                    {% endfor %}
                        <tr >
                            <td>Total</td>
                            <td>{{prevtotal.rupes__sum}}</td>

                        </tr>
                    </table>

                 </div>
            </div>
        </div>
</div>






{%endblock%}